NEXT_PUBLIC_API_URL=http://localhost:8000/api

# R2 Storage
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=han
R2_PREFIX=assignments/

# CLOUDFLARED TURNSTILE Keys
NEXT_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA